In [56]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Import data
df = pd.read_csv('medical_examination.csv')

# Add 'overweight' column

In [3]:
df['overweight'] = None

In [60]:
#df.shape  #df.head()  #df.columns  df.index  df.info()
# df.size  df.describe() df.dtypes  df.dtypes.value_counts()
# df.loc[2] indx or name  df.iloc[-1]   df[1:3]  df.iloc[1:3, [0, 3]] 
# `iloc` works with the (numeric) "position" of the index: df.iloc[1:3, 1:3]
# df[['height','sex']]  column   df['height'].to_frame()
# df.loc['France': 'Italy', ['Population', 'GDP']]
# df.loc[4:16, ['age', 'heght']]
# df['cholesterol'] < 2  df.loc[ df['gluc'] > 1 ,[ 'gluc','alco']  ]
# df.drop(['Canada', 'Japan'])  df.drop(columns=['Population', 'HDI'])
# df[['height', 'weight']]/2 
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,0
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,0
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,0

In [64]:
df['overweight'] = df.apply(lambda row: 1 if row['weight'] / ((row['height']/100)**2) > 25 else 0, axis=1)

# Add 'overweight' column

df['hei'] / df['Population']

In [63]:
df.loc[ df['overweight'] > -1 ,['overweight', 'height','weight']  ]
# df['overweight']
# df.dtypes.value_counts()

       overweight  height  weight
0               0     168    62.0
1               0     156    85.0
2               0     165    64.0
3               0     169    82.0
4               0     156    56.0
...           ...     ...     ...
69995           0     168    76.0
69996           0     158   126.0
69997           0     183   105.0
69998           0     163    72.0
69999           0     170    72.0

[70000 rows x 3 columns]